.active {
  color:	#000080;
  text-align: justify;
  font-size: 18px;
  font-weight: bold;
}
.title  {
 text-align: center;
 font-weight: bold;
 color: #7e805d;
 margin-top: 20px;
 margin-bottom: 20px;
}
.container  {
padding-left: 5%;
padding-right: 5%;
}
.map-container {
  height: 700px;
}
.prop {
  margin-top: 5%;
  padding: 5%;
  background-color: 	#617C58;
  color: #000000;
}
